<p>{{ username }}'s to-do lists</p>
<button (click)="logout()">Logout</button>
<br><br>
<form [formGroup]="newListForm" (ngSubmit)="createNewList()">
    <label for="name">New List Name</label>
    <input type="text" formControlName="name">
    <br>
    <button type="submit" [disabled]="newListForm.invalid">Create List</button>
</form>
<!-- list of lists -->
<div class="card-container">
    @for (toDoList of toDoLists(); track $index) {
        <app-todo-list
            [toDoList]="toDoList"
        />
    } @empty {
        to do list is currently empty
    }
</div>