<!-- create new list button & form -->
<button mat-button="tonal" (click)="showForm = !showForm">+ New List</button>

@if (showForm) {
    <form [formGroup]="newListForm" (ngSubmit)="createNewList()">
        <mat-form-field>
            <mat-label for="name">List Name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <button matButton="tonal" type="submit" [disabled]="newListForm.invalid || isSubmitting">Create List</button>
    </form>
}

<!-- list of lists -->
<mat-nav-list>
  @for (list of toDoLists(); track list.id) {
    <a mat-list-item [routerLink]="['/lists', list.id]">
        <span class="list-link">
            {{ list.name }}
            <span class="item-count">{{ list.activeItemCount }}</span>
        </span>
    </a>
  }
</mat-nav-list>