 <div class="card">
    <div class="card-content actions">
        <!-- title/action row -->
        <input type="checkbox"
            [checked]="toDoItem.isCompleted"
            (change)="onCompleted()"/>

        @if (isEditing){
            <input [(ngModel)]="editTitle" />
        } @else {
            <span (click)="startEdit()">{{toDoItem.title}}</span>
            <button class="link-button" (click)="startEdit()">Edit</button>
            <button class="link-button" (click)="onDelete()">Delete</button>
        }
        <br>
        <!-- timestamp row -->
        <span class="date-info">created: {{toDoItem.createdAt}}</span>
        @if (toDoItem.updatedAt) {
            <span class="date-info">updated: {{toDoItem.updatedAt}}</span>
        }
        @if (toDoItem.completedAt) {
            <span class="date-info">completed: {{toDoItem.completedAt}}</span>
        }
        <br>
        <!-- optional description -->
        @if (isEditing){
            <textarea [(ngModel)]="editDescription"></textarea>
            <button class="link-button" (click)="saveEdit()">Save</button>
            <button class="link-button" (click)="cancelEdit()">Cancel</button>
        } @else {
            <textarea (click)="startEdit()">{{toDoItem.description}}</textarea>
        }
    </div>
 </div>