 <div class="todo-item" [class.completed]="toDoItem.isCompleted">
    <!-- top row -->
    <div class="item-row">
        <!-- checkbox -->
        <mat-checkbox
            [checked]="toDoItem.isCompleted"
            (change)="onCompleted()">
        </mat-checkbox>

        <!-- title -->
        @if (isEditing){
            <mat-form-field>
                <input matInput [(ngModel)]="editTitle" />
            </mat-form-field>
        } @else {
            <span [class.completed]="toDoItem.isCompleted">{{ toDoItem.title }}</span>
        }

        <!-- buttons -->
        @if (isEditing){
            <button mat-icon-button (click)="saveEdit()">
                <mat-icon>check</mat-icon>
            </button>
            <button mat-icon-button (click)="cancelEdit()">
                <mat-icon>close</mat-icon>
            </button>
        } @else {
            <button mat-icon-button (click)="startEdit()">
                <mat-icon>edit</mat-icon>
            </button>
            <span class="spacer"></span>
            <button mat-icon-button color="warn" (click)="onDelete()">
                <mat-icon>delete</mat-icon>
            </button>

        }
    </div>
    
    <!-- divider -->
        <span class="spacer"></span>

    <!-- bottom row -->
        <!-- description -->
        @if (isEditing){
             <mat-form-field class="description-field">
                <textarea matInput [(ngModel)]="editDescription" rows="2"></textarea>
             </mat-form-field>
        } @else {
            <p class="item-description" (click)="startEdit()">{{ toDoItem.description }}</p>
        }
 </div>